.cartLine{
    width: 150px;
   
}
.cartLine img{
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding:1rem 0;
    padding: 2rem;
    position: relative;
}
table{
    width: 100%;
    margin-top: 2rem;
    position: relative;
}
.checkout::before{
    content: "";
    position: absolute;
    top: 0rem;
    right: 2rem;
    width:50rem;
    height: 2px;
    background-color: rgba(0, 0, 0,.2);
   
}
